<div class="modal-button-container d-flex justify-content-end align-items-end">
  <button class="btn btn-primary my-2" (click)="openAddPaymentModal()">
    Add Payment
  </button>
</div>

<div class="card-body p-0">
  <table class="table">
    <thead>
      <tr>
        <th class="text-uppercase">Payment Date</th>
        <th class="text-uppercase">Reference#</th>
        <th class="text-uppercase">Total</th>
        <th class="text-uppercase">Invoices</th>
        <th class="text-uppercase">Method</th>
        <th class="text-uppercase">Date Updated</th>
        <th class="text-uppercase">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="payments.length > 0; else noDataMessage">
        <tr *ngFor="let payment of payments">
          <td class="cursor-pointer" (click)="openPaymentDetail(payment)">
            {{ payment.paymentDate.toDateString() }}
          </td>
          <td>{{ payment.refrenceNumber }}</td>
          <td>{{ payment.totalAmount }}</td>
          <td></td>
          <td>{{ payment.paymentMethod }}</td>
          <td>{{ payment.dateUpdated.toDateString() }}</td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editPayment(payment)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="deletePayment(payment.paymentId)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </ng-container>
      <ng-template #noDataMessage>
        <tr>
          <td colspan="7" class="text-center">No Payments available</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<!-- <ng-container *ngIf="totalCount > 0">
      <app-pagination
        [currentPageIndex]="currentPageIndex"
        [totalCount]="totalCount"
        (pageChange)="loadbudgets($event)"
      ></app-pagination>
    </ng-container> -->
