<!--Estimate Table -->
<div class="card-body p-0 mt-3">
  <div class="actions d-flex justify-content-end my-2">
    <button
      class="btn btn-outline-primary text-primary btn-sm d-flex align-items-center"
    >
      <div class="d-flex align-items-center">
        <i class="material-symbols-outlined">add</i>
        <span>Add Estimate</span>
      </div>
    </button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-capitalize">ESTIMATE #</th>
        <th class="text-uppercase">DATE</th>
        <th class="text-uppercase">NOTES</th>
        <th class="text-uppercase">Synced TO QB</th>
        <th class="text-uppercase">SIGNED</th>
        <th class="text-uppercase">TOTAL</th>
        <th class="text-uppercase">STATUS</th>
        <th class="text-uppercase">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let estimate of estimates">
        <td>{{ estimate.estimateNumber }}</td>
        <td>{{ estimate.date | date }}</td>
        <td>{{ estimate.notes }}</td>
        <td>{{ estimate.syncedToQB }}</td>
        <td>{{ estimate.signed }}</td>
        <td>{{ estimate.total | currency }}</td>
        <td>{{ estimate.status }}</td>
        <td>
          <div class="dropdown">
            <button type="button" class="btn btn-sm dropdown-toggle hide-arrow">
              <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
            </button>
            <div class="dropdown-menu">
              <button mat-menu-item (click)="deleteClick(estimate)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </div>
          </div>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
