<!-- Budgets Table -->
<div class="card-body p-0">
  <div class="actions d-flex justify-content-end my-2">
    <button
      class="btn btn-outline-primary text-primary btn-sm d-flex align-items-center"
    >
      <div class="d-flex align-items-center">
        <i class="material-symbols-outlined">add</i>
        <span>Add Budget</span>
      </div>
    </button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-capitalize">Budget #</th>
        <th class="text-uppercase">Date</th>
        <th class="text-uppercase">Gross Profit</th>
        <th class="text-uppercase">Net Profit</th>
        <th class="text-uppercase">Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
