<!-- Content -->

<section class="section-padding">
  <div class="container">
    <div class="component-header">
      <p class="title lg text-white">Office Location</p>
      <ol class="breadcrumb px-2 py-0 my-0">
        <li class="breadcrumb-item">
          <a class="title lg text-white">Office Location</a>
        </li>
      </ol>
    </div>
    <div class="card">
      <div class="card-body">
        <section>
          <div class="row match-height">
            <div class="col-col-12">
              <div class="card position-relative">
                <div class="row ">
                  <div
                    class="col-md-12 text-center position-absolute absolutd_col"
                  >
                    <div class="mb-2 text-center">
                      <img
                        src="assets/images/5.png"
                        alt="users avatar"
                        class="user-avatar users-avatar-shadow border_profile rounded-circle me-2 my-25 cursor-pointer"
                        height="110"
                        width="110"
                      />
                    </div>
                  </div>
                </div>
                <div class="card-title mt-3">
                    <div class="text-white">spacing</div>
                  </div>
                <div class="card-header p-0 d-block">
                  <table class="table mt-4">
                    <tbody>
                      <tr>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Name
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Address #1
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Address #2
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            City
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Zip Code
                          </h6>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Phone Number
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Logo URL
                          </h6>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="actions d-flex justify-content-end my-2">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button
                      class="btn btn-outline-primary text-primary btn-sm d-flex align-items-center"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true"
                    >
                      <i class="material-symbols-outlined">unfold_more</i>
                      <span>Sorted By</span>
                    </button>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </div>
                </div>
                
                <div class="card-body p-0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-capitalize">Activity</th>
                        <th class="text-uppercase">Type</th>
                        <th class="text-uppercase">Performed by</th>
                        <th class="text-uppercase">date</th>
                        <th class="text-uppercase"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-capitalize">
                          status changed
                          <small class="text-uppercase"
                            >"ACV SENT TO AZ" ACV MEET HOMEOWNER"</small
                          >
                        </td>
                        <td class="text-capitalize">status changed</td>
                        <td class="text-capitalize">Nora dona</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                type="button"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize">
                          *@kimDenson @DanKellow @NoraDona @DavidBlaine the
                          customer
                        </td>
                        <td class="text-capitalize">unassigned contact</td>
                        <td class="text-capitalize">alex devalin</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize">
                          status changed
                          <small class="text-uppercase"
                            >"ACV SENT TO AZ" ACV MEET HOMEOWNER"</small
                          >
                        </td>
                        <td class="text-capitalize">status changed</td>
                        <td class="text-capitalize">Nora dona</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize">
                          *@kimDenson @DanKellow @NoraDona @DavidBlaine the
                          customer
                        </td>
                        <td class="text-capitalize">unassigned contact</td>
                        <td class="text-capitalize">alex devalin</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <section class="px-3">
                  <div class="row">
                    <div class="col-sm-12 d-flex justify-content-end">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination mt-2">
                          <li class="page-item prev-item">
                            <a class="page-link" href="#"></a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">4</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">5</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">6</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">7</a>
                          </li>
                          <li class="page-item next-item">
                            <a class="page-link" href="#"></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<div class="sidenav-overlay"></div>
<!-- / Content -->
