<div class="app-content h-100vh m-0">
    <div class="content-overlay"></div>
    <div class="content-wrapper m-0 p-0">
        <div class="content-header row"></div>
        <div class="content-body">
            <div class="auth-wrapper auth-v2">
                <div class="auth-inner row m-0">
                    <div class="d-none d-lg-flex col-lg-6 align-items-center p-5 h-100vh bg-primary">
                        <div class="row">
                            <span class="brand-logo img-container">
                                <img class="logo" src="../../../assets/images/logo2.jpg" />
                            </span>
                            <div class="w-100 text-center px-5 left-auth-box row" style="margin-top: 5rem">
                                <h6>Already have an Account?</h6>
                                <a style="margin-top: 1rem; text-decoration: none" [routerLink]="['/login']">Sign In</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-lg-6 align-items-center auth-bg px-2 p-lg-5">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto right-auth-box sm-content-center">
                            <h2 class="card-title fw-bold mb-1">Reset Password</h2>
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="auth-register-form mt-2">
                                <div class="mb-1">
                                    <label class="form-label" for="new-password">New Password</label>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
                                            class="form-control form-control-merge" id="new-password" tabindex="2"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="new-password" />
                                        <span class="input-group-text cursor-pointer">
                                            <i class="material-symbols-outlined" (click)="toggleShowNewPassword()">
                                                {{ showNewPassword ? "visibility" : "visibility_off" }}
                                            </i>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label class="form-label" for="confirm-password">Confirm Password</label>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                                            class="form-control form-control-merge" id="confirm-password" tabindex="2"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="confirm-password" />
                                        <span class="input-group-text cursor-pointer">
                                            <i class="material-symbols-outlined" (click)="toggleShowConfirmPassword()">
                                                {{ showConfirmPassword ? "visibility" : "visibility_off" }}
                                            </i>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <button type="submit" class="btn btn-primary w-100" style="height: 60px;" tabindex="5">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidenav-overlay"></div>
