<div class="estimate-modal">
  <form [formGroup]="estimateForm" (ngSubmit)="submitForm()">
    <div formArrayName="items">
      <div
        *ngFor="let item of items.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row">
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              placeholder="Item Name"
              formControlName="itemName"
            />
          </div>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              formControlName="description"
            />
          </div>
          <div class="col-md-2">
            <input
              type="number"
              class="form-control"
              placeholder="Qty"
              formControlName="quantity"
            />
          </div>
          <div class="col-md-2">
            <input
              type="number"
              class="form-control"
              placeholder="Price"
              formControlName="price"
            />
          </div>
          <div class="col-md-2">
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              formControlName="amount"
              disabled
            />
          </div>
          <div class="col-md-1">
            <button
              type="button"
              class="btn btn-danger"
              (click)="removeItem(i)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="addItem()">
      Add Item
    </button>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
