<div class="actions d-flex justify-content-end my-2">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button
    class="btn btn-outline-primary text-primary btn-sm d-flex align-items-center"
    type="button"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
  >
    <i class="material-symbols-outlined">unfold_more</i>
    <span>Sorted By</span>
  </button>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>

<div class="card-body p-0">
  <table class="table">
    <thead>
      <tr>
        <th class="text-capitalize">EVENT NAME</th>
        <th class="text-uppercase">EVENT TYPE</th>
        <th class="text-uppercase">START DATE</th>
        <th class="text-uppercase">END DATE</th>
        <th class="text-uppercase">DESCRIPTION</th>
        <th class="text-uppercase">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="events.length > 0; else noDataMessage">
        <tr *ngFor="let event of events">
          <td class="text-capitalize">
            <small class="text-uppercase">
              {{ event.eventName }}
            </small>
          </td>
          <td class="text-capitalize">{{ event.eventType }}</td>
          <td class="text-capitalize">{{ event.startDate | date }}</td>
          <td class="text-capitalize">{{ event.endDate | date }}</td>
          <td>{{ event.description }}</td>
          <td>
            <div class="dropdown">
              <button
                type="button"
                class="btn btn-sm dropdown-toggle hide-arrow"
                [matMenuTriggerFor]="menu"
              >
                <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
              </button>

              <div class="dropdown-menu">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  xPosition="before"
                >
                  <mat-icon class="material-symbols-outlined"
                    >more_vert</mat-icon
                  >
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editEvent(event)">
                    <mat-icon class="material-symbols-outlined"
                      >border_color</mat-icon
                    >
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="deleteEvent(event)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-template #noDataMessage>
        <tr>
          <td colspan="6" class="text-center">No events available</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<ng-container *ngIf="totalCount > 0">
  <app-pagination
    [currentPageIndex]="currentPageIndex"
    [totalCount]="totalCount"
    (pageChange)="loadPagedData($event)"
  ></app-pagination>
</ng-container>
