

<!-- <ng-container *ngIf="totalCount > 0">
  <app-pagination
    [currentPageIndex]="currentPageIndex"
    [totalCount]="totalCount"
    (pageChange)="loadPagedData($event)"
  ></app-pagination>
</ng-container> -->

<section>
  <div class="row match-height">
    <div class="card position-relative">
      <div class="card-header p-0 d-block mt-2">
        <nav
          class="navbar navbar-expand-lg navbar-light"
          style="background: #f1f3f9"
        >
          <div class="container-fluid d-block">
            <ul class="nav d-flex justify-content-around">
              <li class="nav-item">
                <a
                  class="nav-link btn btn-link text-capitalize"
                  [routerLink]="[
                    '/contact',
                    contactId,
                    'financials',
                    'estimates'
                  ]"
                  routerLinkActive="active"
                >
                  Estimates
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-link text-capitalize"
                  [routerLink]="[
                    '/contact',
                    contactId,
                    'financials',
                    'budgets'
                  ]"
                  routerLinkActive="active"
                >
                  Budgets
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-link text-capitalize"
                  [routerLink]="[
                    '/contact',
                    contactId,
                    'financials',
                    'materialorders'
                  ]"
                  routerLinkActive="active"
                >
                  Material Orders
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-link text-capitalize"
                  [routerLink]="[
                    '/contact',
                    contactId,
                    'financials',
                    'invoices'
                  ]"
                  routerLinkActive="active"
                >
                  Invoices
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-link text-capitalize"
                  [routerLink]="[
                    '/contact',
                    contactId,
                    'financials',
                    'creditmemos'
                  ]"
                  routerLinkActive="active"
                >
                  Credit Memos
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-link text-capitalize"
                  [routerLink]="[
                    '/contact',
                    contactId,
                    'financials',
                    'payments'
                  ]"
                  routerLinkActive="active"
                >
                  Payments
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<div class="sidenav-overlay"></div>
