<div class="modal-dialog modal-xl modal-Scroll modal-confirm">
    <div class="modal-content">
        <div class="modal-header flex-column">
            <!-- <div class="icon-box">
                <i class="material-icons">&#xE5CD;</i>
            </div>						 -->
            <h4 class="modal-title w-100 mt-3">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <p class="mt-3">{{updateData.message}}</p>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" (click)="closeConfirmModal()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="confirmDelete()">Yes</button>
        </div>
    </div>

</div>