<div class="modal-button-container d-flex justify-content-end align-items-end">
  <button class="btn btn-primary my-2" (click)="openAddEstimateModal()">
    Add Estimate
  </button>
</div>

<div class="card-body p-0">
  <table class="table">
    <thead>
      <tr>
        <th class="text-uppercase">Estimate#</th>
        <th class="text-uppercase">Date</th>
        <th class="text-uppercase">Notes</th>
        <th class="text-uppercase">signed</th>
        <th class="text-uppercase">total</th>
        <th class="text-uppercase">Status</th>
        <th class="text-uppercase">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="estimates.length > 0; else noDataMessage">
        <tr 
        class="cursor-pointer"
          *ngFor="let estimate of estimates"
          (click)="openEstimateDetail(estimate)"
        >
          <td>{{ estimate.number }}</td>
          <td>{{ estimate.dateCreated }}</td>
          <td>{{ estimate.internalNote }}</td>
          <td>{{ estimate.signatureStatus }}</td>
          <td>{{ estimate.total | currency }}</td>
          <td>{{ estimate.status }}</td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editEvent(estimate)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="deleteEvent(estimate.number)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </ng-container>
      <ng-template #noDataMessage>
        <tr>
          <td colspan="7" class="text-center">No estimates available</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<ng-container *ngIf="totalCount > 0">
  <!-- <app-pagination
    [currentPageIndex]="currentPageIndex"
    [totalCount]="totalCount"
    (pageChange)="loadEstimates($event)"
  ></app-pagination> -->
</ng-container>
