<section class="section-padding">
  <div class="container">
    <div class="component-header">
      <p class="title lg text-white">Analytics</p>
      <i class="material-symbols-outlined text-white">chat_bubble</i>
    </div>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label> Analytics </ng-template>
        <app-analytics-dashboard></app-analytics-dashboard>
      </mat-tab>
      <!-- Reports Tabs -->
      <mat-tab>
        <ng-template mat-tab-label> Reports </ng-template>
        <app-reports></app-reports>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
